.main-one-spot {
    display: flex;
    justify-content: left;
}

.spot-details {
    width: 100%;
    padding-left: 80px;
    padding-right: 80px
}

.spot-detail-image {
    width: 100%;
    border-radius: 12px;
}

.spot-detail-data {
    margin-top: 1em;
    margin-bottom: 1.5em;
}