.spots-main {
    margin: 0 24px;
    min-height: 40rem;
    margin-bottom: 40px;
}

.lair-div-wrapper {
    display:flex;
    padding-top: 1.8em;
    padding-bottom: 1.8em;
    border-top: 1px solid rgb(235, 235, 235);
    border-bottom: 1px solid rgb(235, 235, 235);
    gap: 1em;
}

.lair-image {
    border-radius: 12px;
    width: 300px;
}

.price-span {
    font-weight: bold;
}