.spots-main {
    margin: 0 80px;
    min-height: 40rem;
    margin-bottom: 40px;
    padding-left: 0px;
    padding-right: 0px;
}

.lair-div-wrapper {
    display:flex;
    padding-top: 1.8em;
    padding-bottom: 1.8em;
    border-top: 1px solid rgb(235, 235, 235);
    border-bottom: 1px solid rgb(235, 235, 235);
    gap: 1em;
}

.lair-image {
    border-radius: 12px;
    width: 300px;
    border: black solid 3px
}

.price-span {
    font-weight: bold;
}

.heading-wrapper {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.spots-heading {
    width: 50%
}

.create-lair-button {
    border-color: #DDDDDD;
    border-radius: 21px;
    border-style: solid;
    border-width: 1px;
    padding: 5px 12px 5px 12px;
    cursor: pointer;
    background-color: white;
    box-sizing:border-box;
}

.create-lair-button:hover {
    background-color: rgb(218, 218, 218)
}