.form-wrapper {
    min-height: 40rem;
}

.form-style{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-errors {
    margin: rem;
    color: red;
}

.form-button {
    margin: 1rem;
}