.form-wrapper {
    min-height: 45rem;
}

.form-style{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-button {
    margin-right: 8px;
}

.signup-form-button {
    border-color: #DDDDDD;
    border-radius: 21px;
    border-style: solid;
    border-width: 1px;
    padding: 3px 6px 3px 6px;
    cursor: pointer;
    background-color: white;
    box-sizing:border-box;
    margin-top: 1em;
}

.signup-form-button:hover {
    background-color: rgb(218, 218, 218);
}